main {
  display: grid;
  grid-template-rows: 
    [hero] 100vh
    [gap1] 95px
    [about] auto
    [gap2] 246px
    [dish] auto
    [gap3] 158px
    [room] auto
    // [gap4] 160px ページ内リンクの位置調整につき無効化
    [tel_number] auto
    // [gap5] 160pxページ内リンクの位置調整につき無効化
    [access] auto
    [gap6] 160px
  ;
}

.hero {
  grid-row: hero;
  display: grid;
  grid-template-columns: 20px 7.56fr 1.59fr 0.84fr 20px;
  grid-template-rows: 20px 3.14fr 5.48fr 1.37fr 20px;
  gap: 0px 0px;
  h1{
    grid-area: 3/3/4/4;
    z-index: 10;
    align-self: end;
    margin-bottom: 3vw;
    figure {
      max-width: 240px;
      min-width: 120px;
      img{
        object-fit: cover;
      }
    }
  }
  figure{
    pointer-events: none;
    user-select:none;
    box-sizing: border-box;
  }
  .main{
    grid-area: 2/2/5/5;
    img{
      object-fit: cover;
      object-position: 55% 50%;
      vertical-align: bottom;
      height: 100%;
    }
  }
  .grad{
    grid-area: 2/2/5/5;
    img {
      height: 100%;
    }
  }
  &::after {
    grid-area: 4/3/5/4;
    content: '';
    bottom: 0;
    justify-self: right;
    width: 1px;
    height: 120px;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: -150px;
    background: rgb(157, 157, 157);
    z-index: 10;
    animation: sdl 2.5s cubic-bezier(1, 0, 0, 1) infinite;
  }
}

@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}


.about {
  grid-row: about;
  display: grid;
  grid-template-columns: var(--side) repeat(12,1fr) var(--side);
  grid-template-rows: 280px 57px 379px 65px 489px;
  column-gap: 28px;
  // grid.layoutit.com?id=264W4Or
  .noren{
    grid-area: 1 / 9 / 3 / 14;
    img{
      object-fit: cover;
      height: 100%;
    }
  }
  .tennai{
    grid-area: 2 / 2 / 6 / 8;
    img{
      object-fit: cover;
      height: 100%;
    }
  }
  h2 { 
    grid-area: 3 / 9 / 4 / 14; 
    align-self: end;
    justify-self: start;
  }
  p { 
    grid-area: 5 / 9 / 6 / 13; 
  }
  &::after{
    content: "";
    background-color:#F5EDDC;
    grid-area: 1/1/6/12;
    margin-top: -300px;
    margin-bottom: 140px;
    z-index: -1;
  }
}

.dish {
  // grid.layoutit.com?id=Ev6eZeU
  grid-row: dish;
  display: grid;
  grid-template-columns: var(--side) repeat(12,1fr) var(--side);
  grid-template-rows: 217px 283px 170px 109px 89px 214px 167px;;
  column-gap: 28px;
  h2 {
    grid-area: 1 / 2 / 2 / 8;
  }
  p{
    grid-area: 2 / 2 / 3 / 8;
  }
  a{
    grid-area: 3 / 2 / 4 / 6;
    justify-self: end;
    align-self: start;
    color: #343434;
    position:relative;
    &::before{
      content:"";
      display:inline-block;
      width:40px;
      height:1px;
      margin:10px;
      background-color: #333;
      vertical-align: middle;
      transition: 0.4s;
    }
    &::after{
      content: "";
      position: absolute;
      left: 58px;
      right: 0px;
      bottom: -2px;
      height: 1px;
      background-color: #343434;
      transition: 0.4s;
    }
    &:hover{
      &::before{
        width:60px;
      }
      &::after{
        left: 78px;
        bottom: -5px;
      }
    }
  }
  .kakuni{
    grid-area: 1 / 8 / 4 / 15;
    img{
      object-fit: cover;
      object-position: 60% 50%;
      height: 100%;
    }
  }
  .koyadofu{
    grid-area: 5 / 4 / 7 / 8;
    // margin-right: -20px;
    // margin-left: 20px;
    img{
      object-fit: cover;
      height: 100%;
    }
  }
  .sashimi{
    grid-area: 6 / 9 / 8 / 14;
    img{
      object-fit: cover;
      height: 100%;
    }
  }
  &::after{
    content: "";
    background-color:#F5EDDC;
    grid-area: 1/3/7/15;
    margin-top: 72px;
    margin-bottom: -72px;
    margin-left: -50px;
    z-index: -1;
  }
}

.room {
  grid-row: room;
  display: grid;
  grid-template-columns: var(--side) repeat(12,1fr) var(--side);
  grid-template-rows: 128px 47px 194px 55px;
  column-gap: 28px; 
  figure {
    grid-row: 1/-1;
    grid-column: 2/8;
    img{
      object-fit: cover;
      height: 100%;
    }
  }
  h2{
    grid-row: 1/2;
    grid-column: 9/14;
  }
  p{
    grid-row: 3/4;
    grid-column: 9/13;
  }
  a{
    grid-row: 4/5;
    grid-column: 9/13;
    justify-self: end;
    align-self: start;
    color: #343434;
    position:relative;
    &::before{
      content:"";
      display:inline-block;
      width:40px;
      height:1px;
      margin:10px;
      background-color: #333;
      vertical-align: middle;
      transition: 0.4s;
    }
    &::after{
      content: "";
      position: absolute;
      left: 58px;
      right: 0px;
      bottom: -2px;
      height: 1px;
      background-color: #343434;
      transition: 0.4s;
    }
    &:hover{
      &::before{
        width:60px;
      }
      &::after{
        left: 78px;
        bottom: -5px;
      }
    }
  }
}




