main {
  display: grid;
  grid-template-rows: [hero] 100vh [gap1] 95px [about] auto [gap2] 246px [dish] auto [gap3] 158px [room] auto [tel_number] auto [access] auto [gap6] 160px;
}
@media (max-width: 767px) {
  main {
    grid-template-rows: [hero] 100vh [gap1] 24px [about] auto [gap2] 100px [dish] auto [gap3] 84px [room] auto [gap4] 100px [tel_number] auto [gap5] 100px [access] auto [gap6] 20px;
  }
}

.hero {
  grid-row: hero;
  display: grid;
  grid-template-columns: 20px 7.56fr 1.59fr 0.84fr 20px;
  grid-template-rows: 20px 3.14fr 5.48fr 1.37fr 20px;
  gap: 0px 0px;
}
@media (max-width: 501px) {
  .hero {
    display: none;
  }
}
.hero h1 {
  grid-area: 3/3/4/4;
  z-index: 10;
  align-self: end;
  margin-bottom: 3vw;
}
.hero h1 figure {
  max-width: 240px;
  min-width: 120px;
}
.hero h1 figure img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.hero figure {
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
  box-sizing: border-box;
}
.hero .main {
  grid-area: 2/2/5/5;
}
.hero .main img {
  object-fit: cover;
  object-position: 55% 50%;
  vertical-align: bottom;
}
.hero .grad {
  grid-area: 2/2/5/5;
}
.hero::after {
  grid-area: 4/3/5/4;
  content: "";
  bottom: 0;
  justify-self: right;
  width: 1px;
  height: 120px;
  justify-self: center;
  margin-top: 50px;
  margin-bottom: -150px;
  background: #9d9d9d;
  z-index: 10;
  animation: sdl 2.5s cubic-bezier(1, 0, 0, 1) infinite;
}

.hero_mobile {
  grid-row: hero;
  display: grid;
  grid-template-columns: 20px auto 98px 26px 20px;
  grid-template-rows: 20px auto 235px 60px 20px;
  gap: 0px 0px;
}
@media (min-width: 500px) {
  .hero_mobile {
    display: none;
  }
}
.hero_mobile .heading1 {
  grid-area: 3/3/4/4;
  z-index: 10;
  align-self: end;
  margin-bottom: 3vw;
}
.hero_mobile .heading1 figure img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.hero_mobile figure {
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
  box-sizing: border-box;
}
.hero_mobile .main {
  grid-area: 2/2/5/5;
}
.hero_mobile .main img {
  object-fit: cover;
  object-position: 70% 50%;
  vertical-align: bottom;
}
.hero_mobile .grad {
  grid-area: 2/2/5/5;
}
.hero_mobile::after {
  grid-area: 4/3/5/4;
  content: "";
  bottom: 0;
  justify-self: right;
  width: 1px;
  height: 80px;
  justify-self: center;
  margin-top: 20px;
  margin-bottom: -40px;
  background: #9d9d9d;
  z-index: 10;
  animation: sdl 2s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
.about {
  grid-row: about;
  display: grid;
  grid-template-columns: var(--side) repeat(12, 1fr) var(--side);
  grid-template-rows: 280px 57px 379px 65px 489px;
  column-gap: 28px;
}
.about .noren {
  grid-area: 1/9/3/14;
}
.about .noren img {
  object-fit: cover;
}
.about .tennai {
  grid-area: 2/2/6/8;
}
.about .tennai img {
  object-fit: cover;
}
.about h2 {
  grid-area: 3/9/4/14;
  align-self: end;
  justify-self: start;
}
.about p {
  grid-area: 5/9/6/13;
}
.about::after {
  content: "";
  background-color: #F5EDDC;
  grid-area: 1/1/6/12;
  margin-top: -300px;
  margin-bottom: 140px;
  z-index: -1;
}
@media (max-width: 767px) {
  .about {
    grid-template-columns: 24px repeat(12, 1fr) 24px;
    grid-template-rows: 131px 52px 355px 35px 490px;
    column-gap: 10px;
  }
  .about .noren {
    grid-row: 1/2;
    grid-column: 7/-2;
    margin: 0 -10px;
  }
  .about .tennai {
    grid-row: 3/4;
    grid-column: 1/8;
  }
  .about h2 {
    writing-mode: vertical-rl;
    grid-row: 3/4;
    grid-column: -2/-7;
    justify-self: end;
    align-self: start;
    line-height: 1.6;
    letter-spacing: 10px;
    font-size: 32px;
    margin-right: 15px;
  }
  .about p {
    grid-row: 5/6;
    grid-column: 3/-3;
    margin: 0 -10px;
  }
  .about::after {
    content: "";
    background-color: #F5EDDC;
    grid-row: 1/-1;
    grid-column: 1/-3;
    z-index: -1;
    margin-right: 10px;
    margin-bottom: 100px;
  }
}

.dish {
  grid-row: dish;
  display: grid;
  grid-template-columns: var(--side) repeat(12, 1fr) var(--side);
  grid-template-rows: 217px 283px 170px 109px 89px 214px 167px;
  column-gap: 28px;
}
.dish h2 {
  grid-area: 1/2/2/8;
}
.dish p {
  grid-area: 2/2/3/8;
}
.dish a {
  grid-area: 3/2/4/6;
  justify-self: end;
  align-self: start;
  color: #343434;
  position: relative;
}
.dish a::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  margin: 10px;
  background-color: #333;
  vertical-align: middle;
  transition: 0.4s;
}
.dish a::after {
  content: "";
  position: absolute;
  left: 58px;
  right: 0px;
  bottom: -2px;
  height: 1px;
  background-color: #343434;
  transition: 0.4s;
}
.dish a:hover::before {
  width: 60px;
}
.dish a:hover::after {
  left: 78px;
  bottom: -5px;
}
.dish .kakuni {
  grid-area: 1/8/4/15;
}
.dish .kakuni img {
  object-fit: cover;
  object-position: 60% 50%;
}
.dish .koyadofu {
  grid-area: 5/4/7/8;
}
.dish .koyadofu img {
  object-fit: cover;
}
.dish .sashimi {
  grid-area: 6/9/8/14;
}
.dish .sashimi img {
  object-fit: cover;
}
.dish::after {
  content: "";
  background-color: #F5EDDC;
  grid-area: 1/3/7/15;
  margin-top: 72px;
  margin-bottom: -72px;
  margin-left: -50px;
  z-index: -1;
}
@media (max-width: 767px) {
  .dish {
    grid-template-columns: 24px repeat(12, 1fr) 24px;
    grid-template-rows: 100px 22px 248px 29px 256px 43px 26px 102px 47px 120px;
    column-gap: 10px;
  }
  .dish h2 {
    grid-column: 2/-2;
    grid-row: 1/2;
    margin: 0 -10px;
  }
  .dish .kakuni {
    grid-column: 2/-2;
    grid-row: 3/4;
    margin: 0 -10px;
  }
  .dish p {
    grid-column: 3/-2;
    grid-row: 5/6;
  }
  .dish a {
    grid-column: -2/-8;
    grid-row: 6/7;
    justify-self: end;
    align-self: end;
    font-size: 12px;
  }
  .dish a::before {
    width: 30px;
  }
  .dish a::after {
    content: "";
    position: absolute;
    left: 50px;
    right: 0px;
    bottom: -1px;
  }
  .dish .koyadofu {
    grid-column: 3/9;
    grid-row: 8/9;
    margin-left: -10px;
  }
  .dish .sashimi {
    grid-column: 6/-2;
    grid-row: 10/11;
  }
  .dish::after {
    content: "";
    background-color: #F5EDDC;
    grid-column: 2/-1;
    grid-row: 1/-1;
    margin-top: 72px;
    margin-bottom: 30px;
    margin-left: -10px;
    z-index: -1;
  }
}

.room {
  grid-row: room;
  display: grid;
  grid-template-columns: var(--side) repeat(12, 1fr) var(--side);
  grid-template-rows: 128px 47px 194px 55px;
  column-gap: 28px;
}
.room figure {
  grid-row: 1/-1;
  grid-column: 2/8;
}
.room figure img {
  object-fit: cover;
}
.room h2 {
  grid-row: 1/2;
  grid-column: 9/14;
}
.room p {
  grid-row: 3/4;
  grid-column: 9/13;
}
.room a {
  grid-row: 4/5;
  grid-column: 9/13;
  justify-self: end;
  align-self: start;
  color: #343434;
  position: relative;
}
.room a::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  margin: 10px;
  background-color: #333;
  vertical-align: middle;
  transition: 0.4s;
}
.room a::after {
  content: "";
  position: absolute;
  left: 58px;
  right: 0px;
  bottom: -2px;
  height: 1px;
  background-color: #343434;
  transition: 0.4s;
}
.room a:hover::before {
  width: 60px;
}
.room a:hover::after {
  left: 78px;
  bottom: -5px;
}
@media (max-width: 767px) {
  .room {
    grid-template-columns: 24px repeat(12, 1fr) 24px;
    grid-template-rows: 100px 22px 230px 28px 147px 39px;
    column-gap: 10px;
  }
  .room h2 {
    grid-row: 1/2;
    grid-column: 2/-2;
  }
  .room figure {
    grid-row: 3/4;
    grid-column: 2/-2;
  }
  .room p {
    grid-row: 5/6;
    grid-column: 2/-2;
  }
  .room a {
    grid-row: 6/7;
    grid-column: 2/-2;
    justify-self: end;
    font-size: 12px;
  }
  .room a::before {
    width: 30px;
  }
  .room a::after {
    content: "";
    position: absolute;
    left: 50px;
    right: 0px;
    bottom: -1px;
  }
}