main {
  display: grid;
  grid-template-rows: 
    [hero] 100vh
    [gap1] 45px
    [counter] auto 
    [gap2] 180px
    [table] auto
    [gap3] 180px
    [single_room] auto
    // [gap4] 160px ページ内リンクの位置調整につき無効化
    [tel_number] auto
    // [gap5] 160pxページ内リンクの位置調整につき無効化
    [access] auto
    [gap6] 160px
  ;
  @media (max-width: 767px) {
    // grid-template-columns: 0.64fr 7.57fr 1.79fr;
    // grid-template-rows: 2.12fr 7.39fr  0.48fr;
    grid-template-rows: 
    [hero] 100vh
    [gap1] 49px
    [counter] auto 
    [gap2] 62px
    [table] auto
    [gap3] 75px
    [single_room] auto
    [gap4] 75px
    [tel_number] auto
    [gap5] 75px
    [access] auto
    [gap6] 20px
  ;
  }
}

.hero{
  display: grid;
  grid-row: hero;
  grid-auto-flow: row;
  grid-template-columns: 1.57fr 6.85fr 1.57fr;
  grid-template-rows: 2.7fr 6.48fr 1.23fr;
  @media (max-width: 767px) {
    // grid-template-columns: 0.64fr 7.57fr 1.79fr;
    // grid-template-rows: 2.12fr 7.39fr  0.48fr;
    grid-template-columns: 24px auto 67px;
    grid-template-rows: 142px auto  32px; 
  } 
  h1{
    grid-area: 2/2/3/3;
    z-index: 10;
    align-self: start;
    justify-self: end;
    writing-mode: vertical-rl;
    font-size: 100px;
    color: #343434;
    font-weight: normal;
    letter-spacing: 10px;
    margin-top: -60px;
    margin-right: -70px;
    @media (max-width: 767px) {
      font-size: 66px;
      margin-top: -50px;
      margin-right: -45px;
    }
  }
  figure{
    pointer-events: none;
    user-select:none;
  }
  .main{
    grid-area: 2/2/3/3;
    img{
      object-fit: cover;
      object-position: 30% 50%;
      vertical-align: bottom;
    }
  }
  .grad{
    grid-area: 2/2/3/3;
  }
  &::after {
    grid-area: 3/1/4/2;
    content: '';
    bottom: 0;
    justify-self: right;
    width: 1px;
    height: 150px;
    margin-right: 70px;
    margin-bottom: -50px;
    background: rgb(45, 45, 45);
    z-index: 10;
    animation: sdl 2.0s cubic-bezier(1, 0, 0, 1) infinite;
    @media (max-width: 767px) {
      margin-bottom: 0;
      height: 70px;
      margin-top: -20px;
      margin-right: -50px;
    }
  }
}

@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}


.counter{
  grid-row: counter;
  display: grid;
  grid-template-columns: var(--side) repeat(12, 1fr) var(--side);
  column-gap: 28px;
  grid-template-rows: 119px 38px 340px;
  h2 {
    grid-column: 3/6;
    grid-row: 1/2;
    justify-self: start;
    align-self: end;
  }
  p{
    grid-column: 3/6;
    grid-row: 3/4;
    justify-self: start;
    align-self: start;
  }
  figure{
    grid-column: 7/13;
    grid-row: 1/-1;
    img{
      object-fit: cover;
    }
  }
  @media (max-width: 767px) {
    grid-template-columns: 24px repeat(12, 1fr) 24px;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 20px ;
    figure img{
      object-fit: fill;
      height: auto;
    }
    h2,p,figure {
      grid-column: 2/-2;
    }
    h2{
      grid-row: 1/2;
    }
    figure{
      grid-row: 2/3;
    }
    p{
      grid-row: 3/4;
    }
  }
}

.table{
  grid-row: table;
  display: grid;
  grid-template-columns: var(--side) repeat(12, 1fr) var(--side);
  column-gap: 28px;
  grid-template-rows: 116px 38px 310px;
  h2 {
    grid-column: 10/13;
    grid-row: 1/2;
    justify-self: start;
    align-self: end;
  }
  p{
    grid-column: 10/13;
    grid-row: 3/4;
    justify-self: start;
    align-self: start;
  }
  figure{
    grid-column: 3/9;
    grid-row: 1/-1;
    img{
      object-fit: cover;
    }
  }
  @media (max-width: 767px) {
    grid-template-columns: 24px repeat(12, 1fr) 24px;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 20px ;
    figure img{
      object-fit: fill;
      height: auto;
    }
    h2,p,figure {
      grid-column: 2/-2;
    }
    h2{
      grid-row: 1/2;
    }
    figure{
      grid-row: 2/3;
    }
    p{
      grid-row: 3/4;
    }
  }
}
.single_room{
  grid-row: single_room;
  display: grid;
  grid-template-columns: var(--side) repeat(12, 1fr) var(--side);
  column-gap: 28px;
  grid-template-rows: 212px 38px 335px 160px 176px;
  h2 {
    grid-column: 3/6;
    grid-row: 1/2;
    justify-self: start;
    align-self: end;
  }
  p{
    grid-column: 3/6;
    grid-row: 3/4;
    justify-self: start;
    align-self: start;
  }
  .image03_1{
    grid-column: 7/12;
    grid-row: 1/5;
    img{
      object-fit: cover;
    }
  }
  .image03_2{
    grid-column: 10/-2;
    grid-row: 4/6;
    img{
      object-fit: cover;
    }
  }
  @media (max-width: 767px) {
    grid-template-columns: 24px repeat(12, 1fr) 24px;
    grid-template-rows: repeat(4, auto) ;
    // grid-template-rows: auto auto auto auto ;
    column-gap: 10px;
    row-gap: 20px ;
    figure img{
      object-fit: fill;
      height: auto;
    } 
    h2{
      grid-row: 1/3;
      grid-column: 9/14;
      justify-self: center;
      align-self: center;
    }
    .image03_1 {
      grid-row: 1/3;
      grid-column: 2/9;
    }
    .image03_2 {
      grid-row: 2/4;
      grid-column: 7/13;
      align-self: end;
    }
    p{
      grid-row: 4/5;
      grid-column: 2/-2;
    }
  }
}




