footer
  div.logo
    figure: img(src= "images/logo.png", alt="")
    figure: img(src="images/logotype_white.svg", alt="")
  ul 
    li: a(href="index.html") ホーム
    li: a(href="dish.html") お料理
    li: a(href="room.html") お部屋
  .information
    .tel
      p.caption 電話番号
      p.main 0246-22-7015
    .address
      p.caption 住所
      p.sub 〒970-8026
      p.main 福島県いわき市平二町目５８−１
  p.rights © Nagomi inc. All rights reserved.